<div class="row">
  <div class="col-md-6"><h1>Questions</h1></div>
  <div class="col-md-6">
    <% if teacher_signed_in? %>
      <%= link_to 'New Question', new_exam_question_path(@exam),{ class:"btn btn-primary",  style:"float:right;margin-top:20px;background:#2c3e50;padding:10px;padding-left:15px;padding-right:15px;" } %>
    <% end %>
  </div>
</div>

<hr>

<%= render 'questions/question',questions: @questions %>

<%= link_to 'Edit', edit_exam_path(@exam),{class:"btn btn-primary",style:"background:#2c3e50;border:1px solid #2c3e50;"} %>
<%= link_to 'Back', exams_path,class:"btn btn-primary" %>
