<footer style="background:#2c3e50;color:white;">
	<div class="container">
		<div class="row" style="margin-left:-70px;padding-top:20px">
			<div class="col-md-3">&copy; Copyright College_name</div>
			<div class="col-md-6"></div>
			<div class="col-md-3">
				<div class="col-md-4"><%= link_to "Sign up",new_user_registration_path,{style:"color:#ffffff;"} %></div>
				<div class="col-md-4"><%= link_to "Exams",exams_path,{style:"color:#ffffff;"} %></div>
				<div class="col-md-4"><%= link_to "Support","#",{style:"color:#ffffff;"} %></div>
			</div>
		</div>
	</div>
</footer>